parameters:
    level: 5
    paths:
        - app
        - bootstrap
        - bin
        - config
        - public
    tmpDir: storage/cache/phpstan
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1
